/* Fonts */

@font-face {
    font-family: 'BrushStroke';
    src: url('../../fonts/brushstrokeplain/BRUSHSTP-webfont.eot');
    src: url('../../fonts/brushstrokeplain/BRUSHSTP-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/brushstrokeplain/BRUSHSTP-webfont.woff') format('woff'),
         url('../../fonts/brushstrokeplain/BRUSHSTP-webfont.ttf') format('truetype'),
         url('../../fonts/brushstrokeplain/BRUSHSTP-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
