/*
 * Main Stylesheet
 *
 */

@import "components/components";

html,
body {
  // @include fadeInDown();
  margin: 0;
  padding: 0;
  background-image: url("../images/bg.png");
  font-family: arial;
}

body {
  position: relative;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}


h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.wrapper {
  @include fadeIn();
  @include outer-container();
  @include clearfix();
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow:        0px 3px 5px 0px rgba(0, 0, 0, 0.75);

  @media screen and (min-width: 320px) and (max-width: 1100px) {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
}


header {
  @include span-columns(12);
  background-color: #ccc;
  padding: 20px 20px;

  h1 {
    font-family: BrushStroke;
  }
}

nav {
  @include span-columns(12);
  padding: 30px 20px;
  background-color: #666;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;

      a {
        @include fadeInLeft();
        display: block;
        padding-top:5px;
        padding-bottom:5px;
        padding-left:15px;
        padding-right:15px;
        margin-right: 10px;
        background-color: #ccc;
        text-decoration: none;
        color: #000;

        &:hover {
          @include transition(all .5s);
          background-color: #666;
          color: #fff;
        }
      }
    }
  }
}

main {
@include span-columns(12);

  section.slider {

    #main-gallery {
      height: 300px;

      .gallery-cell {
        width: 100%;
        height: 500px;
      }

      .flickity-page-dots {
          display: none;
      }
    }
  }

  section.text {
    background-color: #333;
    padding-top:100px;
    padding-bottom:100px;
    padding-left:50px;
    padding-right:50px;

    h1 {
      text-align: center;
      color: #fff;
    }

  }



  section.slider {

  }

  section.text {

  }

}


footer {
  @include span-columns(12);
  bottom: 0;
  padding: 10px 30px;
  background-color: #ccc;
}
